{% include header.html %}

<h2>Hi, I'm Clark Caughey and I am a User Interaction Designer based in Belfast, Northern Ireland.</h2>
<p>I studied at the University of Ulster and since I have been designing and building great websites and applications at <a href="http://reflex-studios.com" title="Reflex Studios">Reflex Studios</a>, <a href="http://rumblelabs.com" title="Rumble Labs">Rumble Labs</a> and <a href="http://sugarrushcreative.com" title="Sugar Rush Creative">Sugar Rush Creative</a>.</p>
<p>My main hobby used to be ice hockey however since hanging up the skates I have been pressuring my interests in photography and custom cars. I have built a number of modified Volkswagens and I am the founder of automotive media blog <a href="http://fittedstate.com" title="Fitted State">Fitted State</a>.</p>
<p>I write my code in HTML and CSS, design interfaces with <a href="http://sketchapp.com" title="Sketch">Sketch</a> and have experience in developing in both PHP and Ruby based environments.</p>
<p>Some of the brands I have worked with in the past include BBC, Belfast Giants, Lonely Planet &amp; Radio Times although I love to work with start ups with fresh ideas.</p>
<p>I'm a strong believer in a less is more approach and I always aim to lead the user on a journey, allowing them (and you) to achieve goals in a clear and desirable manner. This is achieved with an agile development plan, detailed userflow processes, interaction sketches and finally a working prototype.</p>
<p>I am currently available for freelance work. If you have a potential project that you'd like to talk to me about then please <a href="#">get in touch</a>.</p>

{% include footer.html %}
